.container {
    background-color: var(--main-bg-dark);
    color: var(--color-off-white);
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding: 3rem;
}

.title {
    font-size: 54px;
    font-weight: bold;
}

.nav_wrapper {
    margin-top: 2rem;
}

.categories_channels {
    display: flex;
    column-gap: 1rem;
    margin-top: 2rem;
    user-select: none;
}
.categories_channels > div {
    cursor: pointer;
    padding-bottom: 0.5rem;
}
.categories_channels h2 {
    font-size: 18px;
}
.selected {
    color: var(--color-purple-hover);
    border-bottom: 2px solid var(--color-purple-hover);
}

.filter_sort_container {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filter_sort_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.5rem;
}

.filter_sort_heading {
    font-size: 13px;
    font-weight: bold;
}

.list_wrapper {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 1rem;
}
