.container {
    /* flex: flex-grow flex-shrink flex-basis */
    flex: 1 0 auto;
    width: 12rem;
    max-width: 50%;
    padding: 0px 0.5rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.image_wrapper {
    position: relative;
    width: 100%;
}

.border_wrapper {
    width: 100%;
    height: 100%;
}

.bg_top_left {
    position: absolute;
    top: -8px;
    left: 0;
    width: 0px;
    height: 0px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid var(--bgColor);
    opacity: 0;
}

.bg_bottom_right {
    position: absolute;
    bottom: 0;
    right: -8px;
    width: 0px;
    height: 0px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid var(--bgColor);
    opacity: 0;
}

.bg_left {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border-left: 8px solid var(--bgColor);
    opacity: 0;
}

.bg_bottom {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    border-bottom: 8px solid var(--bgColor);
    opacity: 0;
}

.image {
    cursor: pointer;
    width: 100%;
    object-fit: contain;
    transition: translate 0.1s ease 0ms;
}

.image_wrapper:hover .image {
    translate: 8px -8px;
    transition: translate 0.1s ease 0ms;
}

.image_wrapper:hover .bg_top_left {
    opacity: 1;
    transition: translate 0.1s ease 0ms;
}

.image_wrapper:hover .bg_bottom_right {
    opacity: 1;
    transition: translate 0.1s ease 0ms;
}
.image_wrapper:hover .bg_left {
    opacity: 1;
    transition: translate 0.1s ease 0ms;
}
.image_wrapper:hover .bg_bottom {
    opacity: 1;
    transition: translate 0.1s ease 0ms;
}

.name_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
}

.name {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tags_wrapper {
    margin-top: 0.5rem;
    display: flex;
    flex-wrap: wrap;
}
