.container {
    background-color: var(--main-bg-dark);
    color: var(--color-off-white);
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.carousel_wrapper {
    width: 100%;
    height: 350px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_content {
    padding: 0 1.5rem;
}

.main_content > section {
    margin: 1rem 0;
    width: 100%;
}

.section_header {
    padding: 0;
    display: flex;
    align-items: center;
    font-size: 18px;
    color: var(--color-off-white);
}

.pad_left {
    padding-left: 0.25rem;
}

.pad_right {
    padding-right: 0.25rem;
}
