.container {
    font-size: var(--fontSize);
    font-weight: var(--fontWeight);
    color: var(--initialColor);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    user-select: none;
    cursor: pointer;
}

.container:hover {
    color: var(--hoverColor);
    text-decoration: var(--textDecoration);
}
