.container {
    /* flex: flex-grow flex-shrink flex-basis */
    flex: 1 0 auto;
    width: 12rem;
    min-width: 33%;
    max-width: 33%;
    padding: 0px 0.5rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.animation_wrapper {
    position: relative;
    width: 100%;
}

.bg_top_left {
    position: absolute;
    top: -8px;
    left: 0;
    width: 0px;
    height: 0px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid var(--bgColor);
    opacity: 0;
}

.bg_bottom_right {
    position: absolute;
    bottom: 0;
    right: -8px;
    width: 0px;
    height: 0px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid var(--bgColor);
    opacity: 0;
}

.bg_left {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border-left: 8px solid var(--bgColor);
}

.bg_bottom {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    border-bottom: 8px solid var(--bgColor);
}

.image_wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    transition: translate 0.1s ease 0ms;
    cursor: pointer;
}

.live {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0.5rem;
    padding: 0 0.3rem;
    border-radius: 0.4rem;
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center;
    pointer-events: none;
    background-color: var(--color-live-red);
    color: var(--color-off-white);
    z-index: 1;
}

.viewer_count {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0.5rem;
    padding: 0 0.3rem;
    border-radius: 0.4rem;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--color-off-white);
    z-index: 1;
}

.image {
    width: 100%;
    object-fit: contain;
}

.animation_wrapper:hover .image_wrapper {
    translate: 8px -8px;
    transition: translate 0.1s ease 0ms;
}

.animation_wrapper:hover .bg_top_left {
    opacity: 1;
    transition: translate 0.1s ease 0ms;
}

.animation_wrapper:hover .bg_bottom_right {
    opacity: 1;
    transition: translate 0.1s ease 0ms;
}

/* image animation stuff ends */

.info_wrapper {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 0.5rem;
}

.avatar {
    margin-right: 1rem;
}

.info {
    width: 100%;
    min-width: 0px;
}

.title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user_name {
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    color: var(--color-sub-grey);
}

.tags_wrapper {
    margin-top: 0.5rem;
    display: flex;
    flex-wrap: wrap;
}
