.container {
    background-color: var(--main-bg-dark);
    width: 100%;
    height: 100%;

    border: 1px solid blue;
    color: aliceblue;

    display: flex;
}

.content_wrapper {
    width: 100%;
}

.video_wrapper {
    width: 100%;
    height: 0;
    /* % padding takes percentage of width */
    padding-top: 56.25%;
    position: relative;
}

.video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.bottom_wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 10px;
}

.info_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile {
    border-radius: 50%;
    margin: 0 10px;
    border: 1px solid var(--color-purple-hover);
}
.profile:hover {
    outline: 2px solid var(--color-purple-hover);
}

.username {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    width: fit-content;
    line-height: 20px;
}
.username:hover {
    border-bottom: 1px solid var(--color-purple-hover);
    margin-bottom: -1px;
}

.title {
    padding-top: 5px;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
}

.game_name {
    font-size: 14px;
    color: var(--color-purple);
    cursor: pointer;
}
.game_name:hover {
    color: var(--color-purple-hover);
    border-bottom: 1px solid var(--color-purple-hover);
}

.tags_wrapper {
    padding-top: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
}

.right_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    row-gap: 5px;
}

.buttons_wrapper {
    display: flex;
    column-gap: 10px;
}

.subscribe {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}

.viewers {
    font-size: 16px;
    color: #ff8280;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    font-weight: bold;
}

.icons_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.chat_wrapper {
    min-width: 340px;
}
